:root {
  --dk-bl: #324054;
  --seafoam: #92cccd;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  padding: 8px;
}

h1 {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 450px;
  padding: 10px 15px;
  background-color: var(--seafoam);
  font-size: 42px;
}

h2 {
  font-size: 3em;
  text-align: right;
  padding: 5px;
}

h3 {
  font-size: 26px;
  text-align: left;
}

h4 {
  font-size: 12px;
  text-align: left;
  font-weight: lighter;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 20px 15px 0px;
  background-color: #31343d;
  color: var(--dk-bl);
}

.main-menu {
  display: flex;
  justify-content: flex-end;
  width: 80em;
}

nav a {
  display: inline-flex;
  color: var(--seafoam);
  font-size: 20px;
  padding: 10px 10px 5px 10px;
  text-decoration: none;
  border-bottom: solid var(--seafoam) 3px;
  margin-left: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

aside {
  width: 20%;
  height: 200px;
  padding: 10px 15px 0px 0px;
  text-align: right;
  color: var(--dk-bl);
}

.hero-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(./jeff-in-san-fran.jpeg);
  /*My image, taken in San Francisco*/
  background-size: cover;
  background-position: top;
  height: 31em;
  width: 100%;
}

.subtitle {
  margin: 0em 4em 4em 0em;
  padding: 10px;
  color: var(--dk-bl);
  background-color: var(--seafoam);
}

.subtitle > h2 {
  font-size: 20px;
}

#about-me {
  margin-top: 50px;
}

.about-me-paragraphs {
  width: 80%;
  padding: 2em;
  margin: 50px 0px 50px 0px;
  color: var(--dk-bl);
  line-height: 1.5;
  font-size: 18px;
  border-left: solid 4px;
}

.work-examples-section {
  height: 70%;
  width: 80%;
  border-left: solid 4px;
  color: var(--dk-bl);
  padding: 10px 100px 20px 25px;
  margin-bottom: 50px;
}

/*stock images sourced from unsplash.com*/

.surf-report {
  width: 100%;
  height: 55%;
  background-image: url(./wave.jpg);
  background-position: center;
  border: solid var(--seafoam) 6px;
}

.surf-report:hover {
  filter: opacity(0.5);
}

.surf-box {
  position: relative;
  width: 165px;
  height: 70px;
  margin-top: 30%;
  margin-bottom: 30px;
  background-color: var(--seafoam);
  color: var(--dk-bl);
  line-height: 1.5;
}

.led-wall {
  width: 49.5%;
  height: 150px;
  margin-top: 10px;
  border: solid var(--seafoam) 6px;
  background-image: url(./leds.jpg);
  background-position: center;
}

.led-wall:hover {
  filter: opacity(0.5);
}

.led-box {
  position: relative;
  width: 130px;
  height: 70px;
  margin-top: 45px;
  padding-top: 7px;
  padding-left: 8px;
  background-color: var(--seafoam);
  color: var(--dk-bl);
  line-height: 1.5;
}

.calculator {
  width: 49.5%;
  height: 150px;
  margin-top: 10px;
  border: solid var(--seafoam) 6px;
  background-image: url(./calculator.jpg);
  background-position: center;
}

.calculator:hover {
  filter: opacity(0.5);
}

.calculator-box {
  position: relative;
  width: 147px;
  height: 70px;
  margin-top: 45px;
  padding-top: 7px;
  padding-left: 8px;
  background-color: var(--seafoam);
  color: var(--dk-bl);
  line-height: 1.5;
}

.pastel-puzzles {
  width: 49.5%;
  height: 150px;
  margin-top: 10px;
  border: solid var(--seafoam) 6px;
  background-image: url(./puzzle.jpg);
  background-position: center;
}

.pastel-puzzles:hover {
  filter: opacity(0.5);
}

.pastel-puzzles-box {
  position: relative;
  width: 200px;
  height: 70px;
  margin-top: 45px;
  padding-top: 7px;
  padding-left: 8px;
  background-color: var(--seafoam);
  color: var(--dk-bl);
  line-height: 1.5;
}

.run-buddy {
  width: 49.5%;
  height: 150px;
  margin-top: 10px;
  border: solid var(--seafoam) 6px;
  background-image: url(./Run.jpg);
  background-position: center;
}

.run-buddy:hover {
  filter: opacity(0.5);
}

.run-buddy-box {
  position: relative;
  width: 157px;
  height: 70px;
  margin-top: 45px;
  padding-top: 7px;
  padding-left: 8px;
  background-color: var(--seafoam);
  color: var(--dk-bl);
  line-height: 1.5;
}

footer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border-left: solid var(--dk-bl) 4px;
  height: 150px;
  padding: 50px;
}

.contact-me-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contact-me-nav a {
  border-bottom: solid var(--dk-bl) 3px;
  color: var(--dk-bl);
  font-weight: bold;
  margin: 0em 1em 0em 1em;
}

@media screen and (max-width: 953px) {
  /*tablet & mobile settings*/

  h2 {
    text-align: center;
    border-bottom: var(--seafoam) solid 4px;
    width: auto;
    padding: 10px;
  }

  h3 {
    font-size: 20px;
    text-align: left;
  }

  main {
    justify-content: center;
  }

  .hero-img {
    min-width: 30%;
  }

  aside {
    color: var(--dk-bl);
    font-size: 12px;
    width: 25%;
    height: 8em;
    margin: 0px;
  }

  .about-me-paragraphs {
    width: 100%;
    border: none;
    margin: 0px;
  }

  .work-examples-section {
    width: 100%;
    padding: 1em;
    border: none;
  }

  .pastel-puzzles-box {
    width: 150px;
  }

  .run-buddy-box {
    width: 120px;
  }

  footer {
    width: 100%;
    border: none;
  }

  .subtitle {
    margin-bottom: 4em;
    margin-right: 4em;
    padding: 0px;
  }

  .contact-me-nav {
    display: flex;
    justify-content: center;
  }

  .contact-me-nav a {
    display: flex;
    justify-content: center;
    width: auto;
    background-color: var(--dk-bl);
    border-radius: 3px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    margin: 0px 10px 15px 10px;
  }
}