:root {
    --dk-bl: #324054;
    --seafoam: #92CCCD;
  }

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 450px;
    padding: 10px 15px;
    background-color: var(--seafoam);
    font-size: 42px;
}

.hero-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image:url(./hero.jpg);
    background-size:cover;
    background-position: center;
    height: 20em;
    width: 100%;
}

header {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 0px 15px 0px;
    background-color: #31343D;
    color: var(--dk-bl);   
}

.main-menu {
    display: inline-flex;
    justify-content: flex-end;
    width: 80em;
    margin-left: 0px;
}

nav a {
    display: inline-flex;
    color: var(--seafoam);
    font-size: 20px;
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    border-bottom: solid var(--seafoam) 3px;
    margin-left: 10px;
}

main {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    border: red dotted 1px;
    background-color: white;
}

.subtitle {
    display: flex;
    justify-content: flex-end;
    color: var(--dk-bl);
    background-color: var(--seafoam);
}

aside {
    display: flex;
    justify-content:center;
    background-color: white;
    border-right: solid var(--dk-bl) 3px;
}

section p{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 50%;

}

